<div class="main-container position-relative">
    <img src="assets/images/activity-background.png" class="position-absolute left-0 top-0" alt="">

    <div class="content p-4  m-0">
        <div class="info">
            <h1>
                {{activity ? activity.name : '----'}}
            </h1>

            <h2>
                {{activity ? activity.description : '--------------'}}
            </h2>
        </div>

        <div class="statistics d-flex justify-content-between p-2">
            <div class="d-flex flex-column">
                <h1>
                    <rd-count-up [value]="activity?.activePeople"></rd-count-up>
                </h1>
                <h2>
                    Active People
                </h2>
            </div>

            <div class="d-flex flex-column">
                <h1>
                    <rd-count-up [value]="activity?.activeDevices"></rd-count-up>
                </h1>
                <h2>
                    Active Devices
                </h2>
            </div>
        </div>
        <rd-relative-loader [isLoading]="!activity"></rd-relative-loader>
    </div>