<div class="row m-0 my-4">
    <div class="col-md-8 p-0">
        <div class="row m-0">
            <div class="col-md-8">
                <rd-activity></rd-activity>
            </div>
            <div class="col-md-4">
                <rd-live-events></rd-live-events>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row h-100 ">
            <div class="col-12">
                <rd-devices-status-distribution></rd-devices-status-distribution>
            </div>
            <div class="col-12 d-flex flex-column justify-content-end">
                <rd-weather></rd-weather>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 my-4">
    <div class="col-md-8">
        <rd-live-workers-trend-per-zone></rd-live-workers-trend-per-zone>
    </div>
    <div class="col-md-4">
        <rd-critical-mission></rd-critical-mission>
    </div>
</div>

<div class="row m-0 my-4">
    <div class="col-12">
        <rd-live-events-advanced></rd-live-events-advanced>
    </div>
</div>