<div class="row m-0">
    <div class="col-12">
        <h2>
            Realtime Dashboard
        </h2>
    </div>
</div>

<div class="row m-0 my-4">
    <div class="col-xl-8 my-xl-0 my-2">
        <div class="row m-0">
            <div class="col-md-8 my-xl-0 my-2">
                <rd-activity></rd-activity>
            </div>
            <div class="col-md-4 my-xl-0 my-2">
                <rd-live-events></rd-live-events>
            </div>
        </div>
    </div>
    <div class="col-xl-4 my-xl-0 my-2">
        <div class="row h-100 m-0">
            <div class="col-12 my-xl-0 my-2">
                <rd-devices-status-distribution></rd-devices-status-distribution>
            </div>
            <div class="col-12 d-flex flex-column justify-content-end my-xl-0 my-2">
                <rd-weather></rd-weather>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 my-4">
    <div class="col-md-8 my-md-0 my-2">
        <rd-live-workers-trend-per-zone></rd-live-workers-trend-per-zone>
    </div>
    <div class="col-md-4 my-md-0 my-2">
        <rd-critical-mission></rd-critical-mission>
    </div>
</div>

<div class="row m-0 my-4">
    <div class="col-12">
        <rd-live-events-advanced></rd-live-events-advanced>
    </div>
</div>