<div class="main-container bg-dark shadow p-3 position-relative">
    <div class="header d-flex justify-content-between">
        <div class="title d-flex">
            <h5 class="m-0 me-1">
                Live events
            </h5>
            <a role="button" class="btn btn-secondary text-danger status-arrow mx-1">
                <img src="assets/images/icons/arrow-down.svg" alt="" width="20" height="20">
            </a>
        </div>

        <rd-info-icon [title]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
            [position]="'bottom'"></rd-info-icon>
    </div>
    <strong>
        <span class="text-info">
            Current statistics for the events
        </span>
    </strong>

    <div class="row m-0 my-2 statistics">
        <div class="col-4 p-0 d-flex flex-column justify-content-center align-items-center">
            <img class="my-2" src="assets/images/icons/radiation-primary.svg" width="67" height="67" alt="">
            <div class="statistic d-flex justify-content-center align-items-center">
                <h5 class="d-inline m-0 mx-1">
                    <rd-count-up [decrease]="false" [speed]="80" [decrease]="false" [speed]="80"
                        [value]="liveEvents?.info?.total"></rd-count-up>
                </h5>
                <span class="bg-secondary text-success mx-1 rounded pill">
                    <strong>
                        <small>
                            <i class="bi bi-arrow-up"></i>
                        </small>
                    </strong>

                    <rd-count-up [decrease]="false" [speed]="80" [value]="liveEvents?.info?.percentageChange"></rd-count-up>
                </span>
            </div>
            <span class="text-info">
                <strong>
                    Total Info
                </strong>
            </span>
        </div>
        <div class="col-4 p-0 d-flex flex-column justify-content-center align-items-center">
            <img class="my-2" src="assets/images/icons/radiation-warning.svg" width="67" height="67" alt="">
            <div class="statistic d-flex justify-content-center align-items-center">
                <h5 class="d-inline m-0 mx-1">
                    <rd-count-up [decrease]="false" [speed]="80" [value]="liveEvents?.alerts?.total"></rd-count-up>
                </h5>
                <span class="bg-secondary text-success mx-1 rounded pill">
                    <strong>
                        <small>
                            <i class="bi bi-arrow-up"></i>
                        </small>
                    </strong>

                    <rd-count-up [decrease]="false" [speed]="80" [value]="liveEvents?.alerts?.percentageChange"></rd-count-up>
                </span>
            </div>
            <span class="text-info justify-self-center align-self-start">
                <strong>
                    Total Alerts
                </strong>
            </span>
        </div>
        <div class="col-4 p-0 d-flex flex-column justify-content-center align-items-center">
            <img class="my-2" src="assets/images/icons/radiation-danger.svg" width="67" height="67" alt="">
            <div class="statistic d-flex justify-content-center align-items-center">
                <h5 class="d-inline m-0 mx-1">
                    <rd-count-up [decrease]="false" [speed]="80" [value]="liveEvents?.alarms?.total"></rd-count-up>
                </h5>
                <span class="bg-secondary text-success rounded pill">
                    <small>
                        <i class="bi bi-arrow-up"></i>
                    </small>

                    <rd-count-up [decrease]="false" [speed]="80" [value]="liveEvents?.alarms?.percentageChange"></rd-count-up>
                </span>
            </div>
            <span class="text-info justify-self-center align-self-start">
                <strong>
                    Total Alarms
                </strong>
            </span>
        </div>
    </div>

    <div class="canvas-container position-absolute">
        <canvas id="canvas" height="100" class="canvas">{{chart}}</canvas>
        <span class="description-area" [ngClass]="hoverPointValue ? 'show' : ''">
            <span class="d-block">
                SOS Raised
            </span>
            <span class="text-info d-block">
                {{hoverPointValue}}
            </span>
        </span>
    </div>

    <rd-relative-loader [isLoading]="!liveEvents"></rd-relative-loader>
</div>