.main-container {
    height: 324px;
    border-radius: 12px;
    overflow: hidden;

    .statistics {
        .statistic {
            .pill{
                padding: 1px 6px;
                //font-size calc for responsiveness
            }
        }
    }

    .canvas-container{
        width: 110%;
        left: -10px;
        bottom: -10px;

        .description-area{
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translateX(-50%) translateY(100%);
            transition: all 0.3s ease-in-out;
            pointer-events: none;
            opacity: 0;
            &.show{
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }
        }
    }
}