<div class="main-container d-flex flex-column bg-dark rounded mx-2 my-5 shadow py-4">
    <div class="my-2 d-flex justify-content-center">
        <a href="/" class="scale scale-4ms">
            <img src="/assets/images/logo.svg" alt="" height="78" width="52">
        </a>
    </div>

    <div class="my-4">
        <ul class="side-bar-list">
            <li>
                <a href="/">
                    <img src="assets/images/icons/home.svg" alt="">
                    <small>
                        Home
                    </small>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/icons/realtime.svg" alt="">
                    <small>
                        Realtime
                    </small>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/icons/events.svg" alt="">
                    <small>
                        Events
                    </small>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/icons/devices.svg" alt="">
                    <small>
                        Devices
                    </small>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/icons/activity.svg" alt="">
                    <small>
                        Domain
                    </small>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/images/icons/settings.svg" alt="">
                    <small>
                        Settings
                    </small>
                </a>
            </li>
        </ul>
    </div>
</div>