.status-arrow {

    &:hover {

        i {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }

    }
}

::ng-deep {
    .tooltip-inner {
        background-color: rgba(104, 104, 104, 0.598) !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) !important;
        font-size: 12px;
        font-weight: 700;
    }

    .tooltip-arrow {
        color: white !important;

        &::before {
            border-left-color: rgba(104, 104, 104, 0.598) !important;
        }
    }
}