<div class="main-container d-flex">
    <div class="start-area" [ngClass]="pinState.value">
        <aside>
            <input type="hidden" #pinState value="state2">
            <rd-sidebar [pinState]="pinState.value" (onPinChange)="pinState.value = $event"></rd-sidebar>
        </aside>
    </div>
    <div class="end-area" [ngClass]="pinState.value">
        <nav>
            <rd-nav
                (onHamburgerClick)="pinState.value == 'state2' ? pinState.value = 'state1' : pinState.value = 'state2'">
            </rd-nav>
        </nav>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <rd-footer></rd-footer>
        </footer>
    </div>
</div>