.main-container {
    // height: 518px;
    border-radius: 12px;

    .small-card{
        height: 194px;
    }

        .pill{
            padding: 1px 6px;
        }
    

    .live-event-card {
        height: 412px;
        border-radius: 12px;

        &.start {
            background-color: #323232;
            height: 412px;
            border-radius: 12px;

            

            

            .chart-card {
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                height: 100%;       
                
                .chart-total{
                    font-size: 70px;
                    font-weight: 600;
                    color: #FFFFFF;
                }
            }
        }
    }
}