<div class="main-container bg-dark shadow p-3 position-relative">
    <span class="text-info position-absolute end-0 top-0 me-3 mt-3">
        Last updated time 2:23 pm, Sunday
    </span>

    <div class="row g-2 m-0 mt-4">
        <div class="col-md-6 mt-0">
            <div class="live-event-card start shadow">
                <div class="row m-0 h-100">
                    <div class="col-4 p-3">
                        <div class="d-flex mb-4">
                            <h5 class="m-0 me-1">
                                Live events
                            </h5>
                            <a role="button" class="btn btn-secondary text-danger status-arrow mx-1">
                                <img src="assets/images/icons/arrow-up.svg" alt="" width="20" height="20">
                            </a>
                        </div>
                        <div class="row m-0 h-100">
                            <div class="col-12 d-flex flex-column my-3">
                                <img src="assets/images/icons/exclamation-warning.svg" width="40" height="40" alt="">
                                <small class="text-info">Total Alerts</small>
                                <div class="d-flex">
                                    <h5 class="d-inline m-0 mx-3">
                                        {{liveEventsAdvanced?.totalAlarms?.totalNumber}}
                                    </h5>

                                    <span class="bg-secondary text-success mx-3 rounded pill">
                                        <small>
                                            <i class="bi bi-arrow-up"></i>
                                        </small>

                                        <rd-count-up [decrease]="false" [speed]="80"
                                            [value]="liveEventsAdvanced?.totalAlarms?.percentage"></rd-count-up>%
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-column my-3">
                                <img src="assets/images/icons/exclamation-danger.svg" width="40" height="40" alt="">
                                <small class="text-info">Total Alarms</small>
                                <div class="d-flex">
                                    <h5 class="d-inline m-0 mx-3">
                                        {{liveEventsAdvanced?.totalAlerts?.totalNumber}}
                                    </h5>

                                    <span class="bg-secondary text-success mx-3 rounded pill">
                                        <small>
                                            <i class="bi bi-arrow-up"></i>
                                        </small>

                                        <rd-count-up [decrease]="false" [speed]="80"
                                            [value]="liveEventsAdvanced?.totalAlerts?.percentage"></rd-count-up>%
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-column my-3">
                                <small class="text-info">Previous Year Total</small>
                                <div class="d-flex">
                                    <h5 class="d-inline m-0 mx-3">
                                        {{liveEventsAdvanced?.previousYearTotal?.totalNumber}}
                                    </h5>

                                    <span class="bg-secondary text-success mx-3 rounded pill">
                                        <small>
                                            <i class="bi bi-arrow-up"></i>
                                        </small>

                                        <rd-count-up [decrease]="false" [speed]="80"
                                            [value]="liveEventsAdvanced?.previousYearTotal?.percentage"></rd-count-up>%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 bg-dark chart-card p-3 position-relative">
                        <canvas id="liveEventsAdvancedChart" height="64" class="canvas">{{chart}}</canvas>
                        <span class="position-absolute start-50 top-50 translate-middle text-center">
                            <span class="text-info">
                                Total Events
                            </span>
                            <div class="chart-total">
                                <rd-count-up [decrease]="true" [speed]="10"
                                    [value]="liveEventsAdvanced?.totalEvents"></rd-count-up>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-0">
            <div class="content">
                <div class="row m-0 g-4">
                    <div *ngFor="let site of liveEventsAdvanced?.SitesStatistics;let i = index" class="col-6" [ngClass]="i == 0 || i == 1 ? 'm-md-0 ':''">
                        <div class="small-card shadow rounded p-3">
                            <div class="title row m-0">
                                <div class="col-4">
                                    <h5 class="m-0 me-1">
                                        {{site?.name}}
                                    </h5>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <a role="button" class="btn btn-secondary text-danger status-arrow mx-1">
                                        <img src="assets/images/icons/arrow-down.svg" alt="" width="20" height="20">
                                    </a>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <rd-info-icon [title]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
                                        [position]="'bottom'">
                                    </rd-info-icon>
                                </div>
                            </div>

                            <div class="row m-0 my-3">
                                <div class="col-8 d-flex flex-column">
                                    <span class="text-info">
                                        Total Events
                                    </span>
                                    <div class="my-1">
                                        <rd-count-up class="d-inline" [decrease]="false" [speed]="80"
                                            [value]="site.totalEvents"></rd-count-up>%
                                    </div>
                                    <div class="my-1">
                                        Prev. Yr. <rd-count-up class="d-inline" [decrease]="false" [speed]="80"
                                            [value]="site.PrevYear.percentage1"></rd-count-up>%%

                                        <span class="bg-secondary text-info mx-3 rounded pill">
                                            <small>
                                                <i class="bi bi-arrow-up"></i>
                                            </small>

                                            <rd-count-up [decrease]="false" [speed]="80"
                                                [value]="site.PrevYear.percentage2"></rd-count-up>%
                                        </span>
                                    </div>
                                    <div class="my-1">
                                        Grp. Avg <rd-count-up class="d-inline" [decrease]="false" [speed]="80"
                                            [value]="site.grpAvg.percentage1"></rd-count-up>%

                                        <span class="bg-secondary text-info mx-3 rounded pill">
                                            <small>
                                                <i class="bi bi-arrow-up"></i>
                                            </small>

                                            <rd-count-up [decrease]="false" [speed]="80"
                                                [value]="site.grpAvg.percentage2"></rd-count-up>%
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <rd-candle-chart [value]="[{value:30, color:'bc4c34'}, {value:48, color:'da7739'}]">
                                    </rd-candle-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <rd-relative-loader [isLoading]="!liveEventsAdvanced"></rd-relative-loader>
</div>