.main-container {
    height: 421px;
    background-color: gainsboro;
    border-radius: 12px;
    overflow: auto;

    .header {
        .status-arrow {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .critical-mission-update-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            padding: 0;
            .pill{
                padding: 1px 6px;
            }
        }
    }
}