<div class="main-container bg-dark shadow p-3 position-relative">
    <div class="row m-0">
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">

            <h5 class="m-0">
                <img src="assets/images/icons/cloudy-large.svg" class="mx-1" alt="">
                <span class="text-info">
                    <rd-count-up [value]="weather?.currentTemperature"></rd-count-up>°C
                </span>
            </h5>
            <h6 class="m-0 text-info">
                {{weather ? weather.geoAddress : '-------------'}}
            </h6>
        </div>
        <div class="col-6">
            <div #carouselExampleSlidesOnly id="carouselExampleControls" class="carousel slide h-100"
                data-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                                <h6 class="m-0 text-info">
                                    1 PM
                                </h6>
                                <img src="assets/images/icons/cloudy-small.svg" alt="First slide">
                                <h6 class="m-0">
                                    30
                                </h6>
                            </div>
                            <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                                <h6 class="m-0 text-info">
                                    2 PM
                                </h6>
                                <img src="assets/images/icons/cloudy-small.svg" alt="First slide">
                                <h6 class="m-0">
                                    28
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item h-100 ">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                                <h6 class="m-0 text-info">
                                    3 PM
                                </h6>
                                <img src="assets/images/icons/cloudy-small.svg" alt="First slide">
                                <h6 class="m-0">
                                    29
                                </h6>
                            </div>
                            <div class="d-flex justify-content-center align-items-center h-100 flex-column">
                                <h6 class="m-0 text-info">
                                    4 PM
                                </h6>
                                <img src="assets/images/icons/cloudy-small.svg" alt="First slide">
                                <h6 class="m-0">
                                    22
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-next text-light" role="button" data-slide="next" (click)="nextSlide()">
                    <i class="bi bi-chevron-right text-light"></i>
                </a>
            </div>
        </div>
    </div>

    <rd-relative-loader [isLoading]="!weather"></rd-relative-loader>
</div>