.main-container {
    height: 421px;
    border-radius: 12px;
    overflow: hidden;
    .header {
        .status-arrow {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}