//bootstrap overrides

$primary :#5991e2;
$secondary: #3C4352;
$success: #66c088;
$danger: #e24917;
$warning: #d1b503;
$info: #B2BAC9;
$light: #ffffff;
$dark: #343536;

// $black: #dd0000;

// $box-shadow: 0 .5rem 1rem rgba($black, .15);
// $box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
// $box-shadow-lg: 0 1rem 3rem rgba($black, .175);
// $box-shadow-inset: inset 0 1px 2px rgba($black, .075);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "warning": $warning
);