//bootstrap overrides

$primary :#5991e2;
$secondary: #3C4352;
$success: #66c088;
$danger: #e24917;
$warning: #d1b503;
$info: #B2BAC9;
$light: #ffffff;
$dark: #343536;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "warning": $warning
);