.main-container{
    height: 147px;
    border-radius: 12px;
    overflow: hidden;

    .header {
        .status-arrow {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .dot{
        width: 13px;
        height: 13px;
        border-radius: 50%;
    }
}